ASSISTANT_NAME=Virat
TRUSTED_AUTOMATION_MODE=false
WHISPER_MODEL_SIZE=base
WHISPER_DEVICE=cpu
WHISPER_COMPUTE_TYPE=int8
TTS_VOICE=en-IN-PrabhatNeural
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SENDER_EMAIL=your_email@gmail.com
SENDER_APP_PASSWORD=your_16_char_app_password
